// Slider ========================

.slider {
    position: relative;
}

.slide {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
    }

    &__img-container {
        width: rem(540);
        background-image: url("../images/svg/pattern-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: rem(40);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        display: block;
        @include ImgCon;
        border-radius: 6px;
        box-shadow: -3px 41px 70px -52px rgba(81, 67, 190, 1);

    }

    &__text {
        background-image: url("../images/svg/pattern-quotes.svg");
        background-repeat: no-repeat;
        background-position: top;
        width: calc(100% - rem(540));

        @media screen and (min-width: 900px) {
            transform: translateX(10rem);
            background-position: 17% 0%;
            padding: 2rem 0 0 0;
        }

        @media screen and (min-width: 1200px) {
            transform: translateX(19rem);
            padding: 7rem 0 0 0;
        }
    }

    &__quote {
        font-size: rem(24);
        font-weight: 300;
        margin-bottom: 2rem;
        width: 70%;

        @media screen and (min-width: 900px) {
            font-size: rem(20);
            line-height: 3rem;
        }

        @media screen and (min-width: 1200px) {
            font-size: rem(22);
            line-height: 4.4rem;
            margin-bottom: 3.6rem;
        }
    }

    &__author {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 900px) {
            flex-direction: row;
        }
    }

    &__name {
        font-size: rem(18);
        font-weight: 700;
        margin-bottom: .3rem;

        @media screen and (min-width: 900px) {
            margin-bottom: 0;
            margin-right: 1rem;
        }

    }

    &__job {
        color: $color-gray;
        font-size: rem(18);
        font-weight: 500;


    }
}

.buttons {
    width: rem(100);
    height: rem(50);
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    top: 567px;
    right: 505px;
    transform: translateX(50%);




    .prev,
    .next {
        width: 50%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .prev {
        left: 0;
        background-image: url("../images/svg/icon-prev.svg");
    }

    .next {
        right: 0;
        background-image: url("../images/svg/icon-next.svg");
    }

    .next:hover,
    .prev:hover {
        background-color: hsl(300, 60%, 96%);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 1rem;

    a {
        color: hsl(258, 47%, 45%);
        text-decoration: none;
        position: relative;
        transition: color .3s;
    }

    a:hover {
        color: hsl(302, 51%, 62%);
    }

    a::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: hsl(302, 51%, 62%);
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transition: all .3s;
    }

    a:hover::after {
        transform: scaleX(1);
    }
}